<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
</head>
<body>
<h1>All Flights</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Number</th>
        <th>From</th>
        <th>To</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.id}"></td>
        <td th:text="${flight.number}"></td>
        <td th:text="${flight.from}"></td>
        <td th:text="${flight.to}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
